/* Elements */

html,
body {
  margin: 0;
  height: 100%;
  background-color: #f2f1ec;
}

/* class for header */
.header {
  display: inline-block;
  vertical-align: top;
  background-color: #f2f1ec;
}

/* div {
  display: inline-block;
  vertical-align: top;
  background-color: #f2f1ec;
}

div ul {
  float: left;
  padding-inline: 10px;
  size: 200px;
  font-size: 50px;
} */

form {
  margin: 10px;
  justify-content: center;
  justify-self: center;
  top: 30%;
  background-color: #f2f1ec;
}

h2 {
  font-family: "PT Serif", serif;
  color: #db5461;
}

input {
  vertical-align: top;
  text-align: left;
  background-color: #fde84c7e;
}

p {
  font-size: 23px;
}

p span {
  color: #242121;
}

section {
  margin: 10px;
  margin-left: 20px;
}

/* Classes */

.date {
  font-size: 5vh;
  text-align: center;
  -webkit-text-stroke: 1px solid black;
}

.divTop {
  border: 3.5px solid;
  border-color: #f2f1ec;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divMiddle {
  display: flex;
  justify-content: center;
  background-color: #3891a6;
  position: relative;
}

.headers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f1ec;
}

.holding {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.months {
  background-color: #fde84c7e;
  color: rgba(0, 0, 0, 0.63);
}

.monthDiv {
  width: 100%;
  /* float: left; */
  /* position: relative; */
}

.monthDropdown {
  color: #001a2c;
}

.popup-text {
  font-size: 20px;
  /* position: fixed; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.prompt {
  font-size: 3vh;
  text-align: center;
  color: #db5461;
}

.under-prompt {
  text-align: center;
}

.span {
  background-color: #eee9e1;
}

/* IDs */

#divInput {
  position: relative;
  height: 85%;
  width: 100%;
  background-color: #f2f1ec;
}

#divContainer {
  /* height: auto; */
  /* width: 100%; */
  /* border: 5px solid blue; */
  /* background-color: rgba(68, 21, 199, 0.445); */
  margin: 110px;
  position: relative;
}

#divContainer.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
#divInput.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

#inputForm {
  margin: 15px;
  color: #dee2e6;
  width: 75%;
  position: inherit;
}

#inputBox {
  background-color: #f2f1ec;

  border: none;
  outline: none;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;

  color: #001a2c;
}

::placeholder {
  color: #e3655b;
}

#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  /* margin-top: 100px; */
  transform: translate(-50%, -50%);
  width: 600px;
  height: 700px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  overflow: scroll;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
}

#saveEntry {
  margin: 20px;
}

/* class for ul of entries */
.ulEntries {
  /* justify-self: center; */
  justify-content: center;
  align-self: center;
  position: relative;
  height: 100px;
  width: 100px;
  margin: 10px;
  padding: 30px;
  border-color: 3px black;
  background-color: none;
}
